/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
  text-align: center;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;
}

#flecha{
  font-size: 50px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*--------------------------------*/

#juego {
  width: 600px;
  height: 600px;
}

.pieza-del-juego {
  border: 1px solid #226666;
  height: 33%;
  width: 33%;
  float: left;
}

.pieza-del-juego img {
  width: 100%;
}

#imagen-final {
  width: 50%;
  height: 50%;
}

#footer {
  background-color: #484848;
  padding-top: 5px;
}

#footer p {
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 5px;
}